@using SmartPlag.Manager.SimpleManager.Infrastructure.Model
@model SmartPlag.Manager.SimpleManager.Infrastructure.Model.Submission

@{
  ViewBag.Title = "title";
  Layout = null;
}

<h2>New Submission</h2>
@using (Html.BeginForm(FormMethod.Post, new { enctype = "multipart/form-data" }))
{
  @Html.HiddenFor(s => s.AssignmentId)
  <div class="form-group">
    <div class="editor-label">
      @Html.LabelFor(a => a.FirstName)
    </div>
    <div class="editor-field">
      @Html.TextBoxFor(a => a.FirstName)
    </div>

    <div class="editor-label">
      @Html.LabelFor(a => a.LastName)
    </div>
    <div class="editor-field">
      @Html.TextBoxFor(a => a.LastName)
    </div>

    <div class="editor-label">
      @Html.LabelFor(s => s.Files)
    </div>

    <div class="editor-field">
      <input type="file" name="files" multiple/>
    </div>

    <input type="submit" value="Create Submission"/>
  </div>
}