@using System.Collections
@using System.Threading.Tasks
@using SmartPlag.Manager.SimpleManager.Infrastructure.Model
@model SmartPlag.Manager.SimpleManager.Infrastructure.Model.Assignment
@{
  ViewBag.Title = "title";
  Layout = null;
}
<h2>edit @Model.Title</h2>
<div class="editor-label">
  @Html.LabelFor(a => a.TokenizerService)
</div>

<div class="editor-field">
  @Html.DropDownListFor(a => a.TokenizerServiceId,
                                (ViewBag.TokenizerServices as IList<TokenizerService>).Select(s =>
                                  new SelectListItem
                                  {
                                    Text = s.Name,
                                    Value = s.Id.ToString()
                                  }), "--select service--")
</div>

<div class="editor-label">
  @Html.LabelFor(a => a.ComparisonService)
</div>

<div class="editor-field">
  @Html.DropDownListFor(a => a.ComparisonServiceId,
                                (ViewBag.ComparisonServices as IList<ComparisonService>).Select(s =>
                                new SelectListItem
                                {
                                  Text = s.Name,
                                  Value = s.Id.ToString()
                                }), "--select service--")
</div>

<h3>Submissions</h3>
<table>
  <thead>
    <tr>
      <td>FirstName</td>
      <td>LastName</td>
      <td>Files</td>
    </tr>
  </thead>
  @foreach (var submission in Model.Submissions)
  {
    <tr>
      <td>@submission.FirstName</td>
      <td>@submission.LastName</td>
      <td>@submission.Files.Count</td>
    </tr>
  }
</table>

@Html.ActionLink("New Submission", "New", "Submission", new { AssignmentId = Model.Id })
@Html.ActionLink("Tokenize", "Evaluate", new { Id = Model.Id })